* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;

    background-color: #f5f5f5;
}

header {
    background-color: #cc3423;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.restoran-adi {
    font-size: 24px;
    font-weight: bold;
}

.menu-toggle {
    background-color: #c55e53;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.menu-bar {
    background-color: #e74c3c;
    padding: 20px;
    position: fixed;
    top: 48px;
    left: 0;
    width: 200px;
    height: calc(100vh - 48px);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 998;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 20px 0;
    border-bottom:1px solid #2c3e50;
    padding-bottom: 10px;
    
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

}

.menu a:hover {
    color: #f1c40f;
}

main {
    margin-left: 220px;
    padding: 80px 20px;
}

.kategori {
    padding-top: 20px;
    
    scroll-margin-top: 60px; /* Üstteki menü yüksekliği kadar ayarlayın */
    
    
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.card {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 9px;
    width: 100%;
    max-width: 700px;
    height: 270px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 230px;
    height: 230px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #2b2c2c;
}

.fiyat {
    font-weight: bold;
    color: #e74c3c;
    font-size: 20px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
    /* border-top-left-radius: 10px; */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h3 {
    color: #f1c40f;
}

.footer-section p, .footer-section a {
    color: #ddd;
    margin-bottom: 10px;
}

/* ---------------------- */
/* Modal için stil */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; /* Modal genişliğini artırdık */
    max-width: 800px; /* Maksimum genişliği artırdık */
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 10px;
}

.modal-content img {
    width: 100%; /* Fotoğraf tam genişlikte görünür */
    max-height: 80vh; /* Yükseklik sınırlaması, ekranın %80'ine kadar */
    object-fit: cover; /* Fotoğrafın ölçeklenmesi için */
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal-content .info {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
    margin-top: 10px;
}


.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Opaklık azaltıldı */
    z-index: 999;
}


.modal.show {
    display: block;
}

.modal-backdrop.show {
    display: block;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden; /* Taşmayı önlemek için */
    margin-bottom: 20px;
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out; /* Yumuşak geçişler için */
}

.slide {
    flex: 0 0 100%; /* Her slide, slider genişliğinin %100'ünü kaplar */
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Fotoğrafın taşmasını önler ve içeri sığmasını sağlar */ /*yeni yazdım*/
    object-position: center;
}

.slide-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* loader */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white; /* Arkaplan rengi sayfa yüklenene kadar beyaz */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: bounce 1s infinite;
}

.bun,
.patty {
    width: 100%;
    height: 10px;
    background-color: #cc3423; /* Kırmızı ton */
    border-radius: 5px;
}

.bun.top {
    background-color: #e74c3c; /* Üst ekmek rengi */
}

.bun.bottom {
    background-color: #e74c3c; /* Alt ekmek rengi */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

body.loaded #loader {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

/* scroll to top bölümü */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(190, 100, 100, 0.58);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block; /* Her zaman görünür */
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #e74c3c; /* Hover rengini istediğiniz gibi ayarlayabilirsiniz */
}



@media (max-width: 768px) {
    .fiyat{
        /* left: -140px; */
        /* position: relative; */
        margin-top: 10px;
        top: 10px;
        font-weight: 900;
    }
    .scroll-to-top {
        bottom: 15px; /* Mobilde biraz daha yukarıda olabilir */
        right: 15px; /* Kenara daha yakın olabilir */
        padding: 8px; /* Mobilde daha küçük olabilir */
    }
    p{
        font-size: 12px;
    }
    .menu-bar {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-bar.dropdown {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgba(204, 25, 40, 0.8);;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        height: 700px;
        border-radius: 10px;
    }

    main {
        margin-left: 0;
        padding-top: 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 100%;
        height: auto;
    }

    .card-img {
        width: 170px;
        height: 170px;
        margin-top: 10px;
    }
    .kategori {
        scroll-margin-top: 90px; /* Mobil cihazlarda daha fazla boşluk için */
    }
}

/* slider taşmasını önlemek */

.category-card {
    width: 320px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    margin: auto;
    margin-bottom: 15px;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* .category-card.scroll-change {
    background-color: #faf7f7; /* Hafif kırmızı tonu */

.category-card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #222;
    font-weight: 600;
}

.category-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-bottom: 1px solid #eee;
}

.category-card img:hover {
    opacity: 0.9;
}

.category-card p {
    margin: 15px 0;
    color: #535d65;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.category-card p:hover {
    color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .category-card {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
        text-align: center;
    }
}


header > div > a{
    text-decoration: none;
    color: #eee;
}

/* menü accordion hale */
.accordion-checkbox {
    display: none; /* Hide the actual checkbox */
  }
  
  .accordion-item label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    background-color: #e74c3c;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 17px;
  }
  
  .accordion-item label:hover {
    background-color: #c0392b;
  }
  
  .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
  }
  
  /* When the checkbox is checked, show the submenu and rotate the arrow */
  .accordion-checkbox:checked + label + .submenu {
    display: block;
  }
  
  .accordion-checkbox:checked + label .arrow {
    transform: rotate(180deg);
  }
  
  .arrow {
    transition: transform 0.3s ease;
  }
  

  /* menü bar taşma durumunu engelleme */
  
.menu-bar {
    overflow-y: scroll; /* Dikey kaydırma sürekli açık */
    max-height: 100vh; /* Menü barın en fazla ekran yüksekliği kadar büyümesini sağlıyoruz */
    scrollbar-width: thin ; /* İnce scrollbar */
  }
  
  /* Scrollbar her zaman gözükür ve açık bir renkte olur */
  .menu-bar::-webkit-scrollbar {
    width: 12px; /* Scrollbar genişliğini arttırdık */
    background-color: #f0f0f0; /* Scrollbar arka plan rengini daha açık yaptık */
  }
  
  .menu-bar::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Scrollbar rengini daha açık bir tona getirdik */
    border-radius: 10px; /* Daha yuvarlak köşeler */
    border: 2px solid #f0f0f0; /* Thumb çevresine bir boşluk ekleyerek daha görünür yaptık */
  }
  
  /* Responsive durumda menü açıldıkça genişleyecek ve taşma durumunda scrollbar eklenecek */
  /* Responsive durumda menü açıldıkça genişleyecek ve taşma durumunda scrollbar eklenecek */
@media (max-width: 768px) {
    .menu-bar {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: auto;
      max-height: 70vh; /* Menü maksimum ekranın %70'i kadar büyüsün */
      overflow-y: scroll; /* Scrollbar her zaman aktif olacak */
      scrollbar-width: thin;
    }
  
    /* Scrollbar her zaman gözükür ve açık bir renkte olur */
    .menu-bar::-webkit-scrollbar {
      width: 12px; /* Scrollbar genişliğini arttırdık */
      background-color: #f0f0f0; /* Scrollbar arka plan rengini daha açık yaptık */
    }
  
    .menu-bar::-webkit-scrollbar-thumb {
      background-color: #d3d3d3; /* Scrollbar rengini daha açık bir tona getirdik */
      border-radius: 10px; /* Daha yuvarlak köşeler */
      border: 2px solid #f0f0f0; /* Thumb çevresine bir boşluk ekleyerek daha görünür yaptık */
    }
  
    .menu-bar.dropdown {
      display: block;
      max-height: 70vh; /* Menü açıldıkça max %70 ekran boyutunda kalacak */
      overflow-y: scroll; /* Scrollbar her zaman aktif olacak */
    }
  }
  
  